.selected {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #b9d6f2;;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#blablabla {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input, textarea, button {
    width: max-content;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.education-item, .residence-item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
}

h2 {
    margin-top: 20px;
    font-size: 20px;
}


/* Добавим стили для tooltip */
input[type="date"]:hover, input[type="date"]:focus, input[type="date"]:active {
    border-color: #4CAF50;
}

input[type="date"][title]:hover::before,
input[type="date"][title]:focus::before,
input[type="date"][title]:active::before {
    content: attr(title);
    display: block;
    position: absolute;
    background: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

input[type="date"][title]:hover::before,
input[type="date"][title]:focus::before,
input[type="date"][title]:active::before {
    opacity: 1;
    pointer-events: auto;
}

input[type="date"][title]::before {
    content: attr(title);
    display: none;
    opacity: 0;
    pointer-events: none;
}
